<!-- Default Statcounter code for personal web http://dieguer.github.io -->
<script type="text/javascript">
var sc_project=12321392;
var sc_invisible=1;
var sc_security="9f99170e";
var sc_https=1;
</script>
<script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
<noscript><div class="statcounter"><a title="Web Analytics" href="https://statcounter.com/" target="_blank"><img class="statcounter" src="https://c.statcounter.com/12321392/0/9f99170e/1/" alt="Web Analytics"></a></div></noscript>
<!-- End of Statcounter Code -->